@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body {
    background-image: url(images/bg-desktop.svg);
    background-position: center;
    background-color: hsl(257, 40%, 49%);
    margin: 0 auto;
    height: 100vh;
    font-size: 80%;
    padding: 0;
    color: white;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    margin: 2em 0;
}

.logo {
    width: 130px;
}

.left-col {}

.left-col img {
    width: 100%;
}

.container {
    display: grid;
    align-items: center;
    padding: 1em;
    grid-gap: 4em;
    margin: 2em 0em;
    justify-content: center;
    grid-template-columns: 1.3fr 1fr;
}

.right-col {}

.right-col h2 {
    white-space: nowrap;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 2.5em;
}

.text {
    max-width: 30em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 1.3em;
    line-height: 1.8em;
}

.btn {
    background-color: white;
    color: hsl(259, 40%, 49%);
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 10em;
    border: none;
    text-align: center;
    padding: .8em 4em;
    transition: .4s ease-in-out;
    font-family: 'Open Sans', sans-serif
}

.btn:hover,
.btn:active {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.445);
}

.icons {
    font-size: 2em;
    float: right;
}

.icon {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    transition: .2s ease-in-out;
    vertical-align: middle;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.footer {
    font-family: 'Open sans';
}

.footer a {
    color: hsl(300, 69%, 71%)
}

.icon-box:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
    cursor: pointer;
}

@media(max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .right-col {
        text-align: center;
        width: 100%;
    }
    .right-col h2 {
        white-space: unset;
        font-size: 2em;
    }
    .text {
        text-align: center;
        max-width: 100%;
        font-size: 1.2em;
    }
    .btn {
        padding: .5em 3em;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}